$primary: #1f5673;
// $primary-invert: findColorInvert($primary);
$success: #1bb61f;
// $success-invert: findColorInvert($success);
$info: #054057;
// $info-invert: findColorInvert($info);
$danger: #a6130e;
// $danger-invert: findColorInvert($danger);
$warning: #e25c23;
// $warning-invert: findColorInvert($warning);
$light: #2cfcfb;
// $light-invert: findColorInvert($light);
$black: #020101;
$white: #fcfcfc;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$game-font: 'Press Start 2P', 'Lato', Helvetica, sans-serif;

// http://www.thealmightyguru.com/Games/Hacking/Wiki/index.php/NES_Palette
