$primary: #4d00b9;
// $primary-invert: findColorInvert($primary);
$success: #1bb61f;
// $success-invert: findColorInvert($success);
$info: #1f5673;
// $info-invert: findColorInvert($info);
$danger: #a6130e;
// $danger-invert: findColorInvert($danger);
$warning: #e25c23;
// $warning-invert: findColorInvert($warning);
$light: #2cfcfb;
// $light-invert: findColorInvert($light);
$black: #020101;
$white: #fcfcfc;
$dark-blue: #2d469d;
$yellow: #f2ff00;
$pacman-purple: #4d00b9;

$primary-font: 'Lato', Helvetica, sans-serif;
$secondary-font: 'Raleway', sans-serif;
$game-font: 'Press Start 2P', 'Lato', Helvetica, sans-serif;
$code-font: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monaco, monospace;

// GoldenEye Dossier colors
$ge-folder: #d1d2a5;
$ge-tabs: #979978;
$ge-background: #535942;

// http://www.thealmightyguru.com/Games/Hacking/Wiki/index.php/NES_Palette
